{% extends "network/layout.html" %}

{% block body %}
<div class="container">
    {% if message %}
    <div class="log-in-error">{{ message }}</div>
    {% endif %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="log-in-form">
            <input autofocus type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="log-in-footer">
            <input class="log-in-button" type="submit" value="Login">
            <span>Don't have an account? <a href="{% url 'register' %}">Register here.</a></span>
        </div>
    </form>
</div>
{% endblock %}